<!doctype html>
<html>

<head>
	<% include templates/head.ejs %>
</head>

<body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.4.6/phaser.min.js"></script>
	<script src="/client/main.js" type="module"></script>
</body>

</html>