<!doctype html>
<html>

<head>
	<% include templates/head.ejs %>

	<style>
		#hud {
			margin: 0;
			height: 100%;
			width: 100%;
			position: fixed;
			pointer-events: none;
		}

		#hud #team-meters {
			height: 40px;
			margin: 12px 12px;
			background: #63636322;
			display: flex;
			border-radius: 4px;
		}

		#hud #team-meters div {
			color: #FFF;
			padding: 8px 14px;
			font-weight: bold;
			width: 50%;
			min-width: 5%;
		}

		#hud #team-meters #red {
			background: #F009;
			border-radius: 4px 0 0 4px;
			text-align: right;
		}

		#hud #team-meters #blue {
			background: #00F9;
			text-align: left;
			border-radius: 0 4px 4px 0;
			margin-left: auto;
		}

    #hud .row {
      display: flex;
      width: 100%;
    }

		#hud #rounds {
			width: 50%;
			height: 12px;
			padding: 6px 8px;
			display: flex;
		}

		#hud #rounds .round {
			width: 12px;
			height: 12px;
			border-radius: 6px;
			background: #FFF;
			margin: 4px;
		}

		#hud #rounds .round.blank {
			background: #FFF2;
		}

    #hud #highscores {
      width: 50%;
      padding-right: 12px;
    }

    #hud #highscores p {
      text-align: right;
      width: 100%;
      margin: 0;
    }

    #hud #highscores p.red { color: #f53b3b; }
    #hud #highscores p.blue { color: #3a3ae4; }

	</style>
</head>

<body>
	<div id="hud">
		<div id="team-meters">
			<div id="red"></div>
			<div id="blue"></div>
    </div>
    <div class="row">
      <div id="rounds"></div>
      <div id="highscores"></div>
    </div>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/phaser/2.4.6/phaser.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="/packages/gup.js"></script>
	<script src="/dist/bundle.js" type="module"></script>
</body>

</html>